{% extends 'users/bases.html' %}
{% load static %}

{% block title %}My Profile{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Profile Card -->
        <div class="col-md-4">
            <div class="card">
                {% if profile.passport_photo %}
                    <img src="{{ profile.passport_photo.url }}" class="card-img-top" alt="Profile Picture">
                {% else %}
                    <img src="{% static 'assets/images/default.png' %}" class="card-img-top" alt="Default Profile">
                {% endif %}
                <div class="card-body text-center">
                    <h5 class="card-title">{{ profile.full_name }}</h5>
                    <p class="card-text">{{ request.user.email }}</p>
                    <p class="card-text">{{ profile.phone_number }}</p>
                </div>
            </div>
        </div>

        <!-- Profile Form -->
        <div class="col-md-8">
            <h3>Update Profile</h3>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        {{ u_form.as_p }}
                    </div>
                    <div class="col-md-6">
                        {{ p_form.as_p }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
