{% extends 'users/bases.html' %}

{% block content %}

<h3>Savings Overview</h3>

<div class="card p-3 shadow-sm">
    <h5>Your Balance</h5>
    <h2 class="text-success fw-bold">UGX {{ account.balance }}</h2>

    <a href="{% url 'savings:deposit' %}" class="btn btn-dark mt-3">Deposit</a>
</div>

<h4 class="mt-4">Recent Transactions</h4>

{% if transactions %}
<ul class="list-group">
    {% for t in transactions %}
    <li class="list-group-item">
        UGX {{ t.amount }} —
        <span>{{ t.status }}</span> —
        {{ t.created_at }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p class="text-muted">No activity yet.</p>
{% endif %}

{% endblock %}
